footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #4c0316, #182848);
  color: #fff;
  text-align: center;
  padding: 16px 0;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
