header {
  background: linear-gradient(90deg, #4c0316, #182848);
  color: white;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 600;
  transition: color 0.3s;
}

header a:hover {
  color: #ff0000;
}

header h1 {
  font-size: 1.8rem;
  letter-spacing: 2px;
}
