.person-card {
  width: 20%;
  color: white;

  padding: 15px;
  margin: 20px;
  border-style: solid;
  border-radius: 8px;
  border: 2px solid rgb(168, 168, 168);
  background-color: #000000;
  box-shadow: 8px 8px 10px rgb(255, 0, 0);
}
