.home-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.intro-section {
  text-align: center;
  background: linear-gradient(90deg, #4c0316, #182848);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.intro-section h2 {
  font-size: 2rem;
  color: lightgray;
  margin-bottom: 12px;
}

.intro-section p {
  font-size: 1.1rem;
  color: lightgray;
  line-height: 1.5;
}

.employees-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  overflow-x: hidden;
}

.employees-section h3 {
  margin-bottom: 16px;
  color: linear-gradient(90deg, #4c0316, #182848);
  font-size: 1.5rem;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  scroll-behavior: smooth;
  position: relative;
}
.person-card-wrapper {
  flex-shrink: 0;
  margin-right: 16px;
  transition: transform 0.3s ease, z-index 0.3s;
  position: relative;
}
.person-card-wrapper:hover {
  transform: translateY(-15px) scale(1.05);
  z-index: 999 !important;
}
.person-card {
  min-width: 220px;
  max-width: 260px;
  min-height: 380px;
  background: linear-gradient(135deg, #ffffff, #f3f3f3);
  border-radius: 12px;
  padding: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #182848;
}

.person-card p {
  margin: 4px 0;
  text-align: center;
  font-size: 0.9rem;
}

.delete-btn {
  margin-top: 12px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #c40000;
}
.stats-container {
  margin-top: 60px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.stats-container h3 {
  text-align: center;
  margin-bottom: 20px;
}
.stats-container p {
  color: #000000;
}

.stats-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 150px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.stat-card h2 {
  margin-top: 10px;
  color: #333;
  font-size: 1.8rem;
}
